/*Hoja de Estilos */

A:link    {text-decoration:none;color:#000000;}
A:visited {text-decoration:none;color:#FFFFFF;}
A:active  {text-decoration:none;color:#000000;}
A:hover   {text-decoration:none;color:#800000;} 




